// dl {
// 	dt,
// 	dd {
// 		@include font-size($FontSize-6);
// 		@include line-height($Lead);

// 		width: 50%;
// 		float: left;
// 	}

// 	dt {
// 		font-weight: 500;
// 		padding-right: $Column-gutter / 2;
// 		box-sizing: border-box;
// 	}

// 	dd {
// 		font-weight: 300;
// 		padding-left: $Column-gutter / 2;
// 		margin-left: 0;
// 		box-sizing: border-box;
// 	}
// }

.listSocial {
	overflow: auto;
	display: block;

	list-style: none;
	padding-left: 0;
	margin-top: $Lead * 1.5;

	@include respond-to(520px) {
		margin-top: $Lead * 2;
	}

	li {
		line-height: 2;
	}
}