/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Flatten lists by default
 */

ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: $bl 0;
}

.bulletless {
	list-style: none;
	margin-left: $bl * 2;

	li + li {
		margin-top: $bl * .5;
	}
}
