p {
	@include font-size($FontSize-b);
	@include line-height($Lead);
	font-weight: 300;

	margin-top: $Lead;
	margin-bottom: 0;

	// &.intro {
	// 	@include font-size($FontSize-b);
	// 	@include line-height($Lead);
	// 	// font-weight: 400;

	// 	margin-top: $Lead;
	// 	margin-bottom: 0;
	// }
}