<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patrick Allen - freelance web designer</title>

	<meta name="author" content="Patrick Allen - freelance web designer from Tunbridge Wells" />
	<meta name="description" content="Offering website design and development services for businesses and agencies.">

	<link rel="stylesheet" href="assets/css/styles.prefixed.css">

	<script type="text/javascript" src="//use.typekit.net/wui4ztq.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	
	<div class="container">
		<div class="row">
			<div class="col10 panel__header">
				<h1 id="intro-text">Freelance UI design &amp; frontend development based in Tunbridge Wells.</h1>
			</div>
		</div>
	</div>

	<footer class="">
		<div class="container">

			<div class="col5">
				<p class="">© 2015 Patrick Allen</p>
			</div>

			<div class="col5">
				<div class="button__group">
					<a href="mailto:pa@pallen.co" class="btn__circle icon-email"></a>
					<a href="http://behance.com/pall3n" class="btn__circle icon-behance" target="_blank"></a>
					<a href="http://twitter.com/pall3n" class="btn__circle icon-twitter" target="_blank"></a>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>