<!--(bake includes/header.html)-->

<header class="row row-spacer--2">
	<div class="column column-3">
		<h1 class="">Pallen &amp; co.</h1>
	</div>
</header>

<section class="section">
	<div class="row">
		<div class="column column-3">
			<p>We are digital problem solvers.</p>

			<p>A successful responsive website design starts with analysis of your current websites successes and pitfulls, which we assess via your websites analytics.</p>

			<p>Through further discussions with you we accertain the business goals of your new responsive website.</p>

			<p>This information is used to design concepts which we then refine after analysis with you. This then informs a finely crafted responsive design which does not just use popular device sizes to update the design but changes based on when the content needs to. This helps future proof your responsive website more than designing it based on the current devices on the market.</p>

			<p>We can then build this or if you have a prefered development agency or are in fact one then we can hand over the fully designed responsive website files with all the required assets and deliverables.</p>

			<ul class="listSocial">
				<li><a href="https://twitter.com/pall3n" class="link">Twitter</a></li>
				<li><a href="https://www.behance.net/pall3n" class="link">Behance</a></li>
				<li><a href="mailto:pa@pallen.co" class="link">Email</a></li>
			</ul>
		</div>
	</div>
</section>

<!--(bake includes/footer.html)-->