<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Patrick Allen - freelance web designer</title>

	<meta name="author" content="Patrick Allen - freelance web designer from Tunbridge Wells" />
	<meta name="description" content="Offering website design and development services for businesses and agencies.">

	<link rel="stylesheet" href="assets/css/styles.min.css">

	<script type="text/javascript" src="//use.typekit.net/wui4ztq.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col10 panel__header">
				<h1 id="intro-text">Freelance UI designer &amp; frontend development based in Tunbridge Wells.</h1>

				<ul class="bulletless">
					<li><a href="http://dribbble.com/pall3n" target="_blank">dribbble.com/pall3n</a> - design work</li>
					<li>
						<a href="http://rideafrica.org/" target="_blank">rideafrica.org/</a> - frontend development
					</li>
					<!-- <li>
						<a href="https://www.behance.net/gallery/47306293/GH-Website-redesign-pitch-work" target="_blank">Website redesign pitch</a> - Website design
					</li> -->
					<li>
						<a href="https://www.hometrack.com/uk/" target="_blank">hometrack.com/uk/</a> - frontend development
					</li>
					<li>
						<a href="https://www.fasetto.com/bonsai" target="_blank">fasetto.com/bonsai</a> - frontend development
					</li>
				</ul>
			</div>
		</div>
	</div>

	<footer class="">
		<div class="container">

			<div class="col5">
				<p class="">&copy; 2017 Patrick Allen</p>
			</div>

			<div class="col5">
				<div class="button__group">
					<a href="mailto:pa@pallen.co" class="btn__circle icon-email"></a>
					<!-- <a href="http://behance.com/pall3n" class="btn__circle icon-behance" target="_blank"></a> -->
					<a href="http://twitter.com/pall3n" class="btn__circle icon-twitter" target="_blank"></a>
				</div>
			</div>
		</div>
	</footer>

</body>
</html>
