.clearfix {
   &:before,
   &:after {
      content: " ";
      display: table;
   }
   &:after {
      clear: both;
   }
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.v__align {
   display: inline-block;
   vertical-align: middle;
   margin-bottom: 0;
}

.v__align--btn {
   @include line-height($fs__2, 1.52);
}

.v__middle {
   display: table;
   width: 100%;
}

.v__middle-item {
  display: table-cell;
  vertical-align: middle;
 }

.remove--bm {
   margin-bottom: 0;
}

.remove--tp {
   margin-bottom: 0;
}

.push__top {
   margin-top: $bl;
}

.push__tb--4,
.push__top--4 {
   margin-top: $bl*4;
}

.pad__top--4 {
   padding-top: $bl*4;
}

.push__top--2 {
   margin-top: $bl*2;
}

.push__tb--6,
.push__top--6 {
   margin-top: $bl*6;
}

.push__top--2 {
   margin-top: $bl*2;
}

.push__tb--4,
.push__bottom--4 {
   margin-bottom: $bl*4;
}

.push__tb--6,
.push__bottom--6 {
   margin-bottom: $bl*6;
}

.push__bottom--5 {
   margin-bottom: $bl*5;
}

.push__top--5 {
   margin-top: $bl*5;
}

.pad__tb--1 {
   padding: $bl 0;
}

.pad__top--1 {
   padding-top: $bl * 1.5;
}

.pad__left--1 {
   padding-left: $bl;
}